apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: distributed-app
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080  # Port fixe pour Minikube
  type: NodePort